<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>
<body>
    <div class="fr-skiplinks">
        <nav class="fr-container" role="navigation" aria-label="Accès rapide">
            <ul class="fr-skiplinks__list">
                <% if (locals.use_dashboard_layout) { %>
                    <li>
                        <a class="fr-link" href="#main">Contenu</a>
                    </li>
                <% } %>
                <li>
                    <a class="fr-link" href="#footer">Pied de page</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="loader-bar"></div>
    <%- include('partials/header.ejs'); %>
    <% if (locals.use_dashboard_layout) { %>
        <main id="main" tabindex="-1">
            <%- body; %>
        </main>
    <% } else { %>
        <main class="onboarding-container">
            <%- body; %>
            <div class="centered-container">
                <img src="/dist/<%= locals.illustration ? locals.illustration : 'illu-account.svg' ;%>" alt="" />
            </div>
        </main>
    <% } %>
    <%- include('partials/footer.ejs'); %>
    <div tabindex="-1" id="aria-live-message" aria-live="assertive" class="fr-sr-only"></div>
    <noscript><p><img src="https://stats.data.gouv.fr/matomo.php?idsite=85&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
