<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'connection-and-account'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/breadcrumb.ejs'); %>
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <% if (isAuthenticatorAlreadyConfigured) { %>
            <h2>Changer d’application d’authentification</h2>
            <p>
                Vous ne pourrez pas vous connecter à votre compte ProConnect avec votre ancienne
                application d’authentification.
            </p>
        <% } else { %>
            <h2>Configurer un code à usage unique (OTP)</h2>
        <% } %>
        <h3>Scanner ce QRcode avec votre application</h3>
        <img src="<%= locals.qrCodeDataUrl; %>" alt="Code QR à utiliser dans l’appli FreeOTP">
        <div class="fr-accordion fr-mb-3w">
            <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="vous-ne-pouvez-pas-scanner">
                    Vous ne pouvez pas scanner le code ?
                </button>
            </h3>
            <div class="fr-collapse" id="vous-ne-pouvez-pas-scanner">
                <b>
                    <p>Pour configurer manuellement votre application d’authentification mobile :</p>
                    <p>Clé/secret : <span id="humanReadableTotpKey"><%= locals.humanReadableTotpKey; %></span></p>
                    <p>Type : TOTP</p>
                    <p>Algorithme : SHA1</p>
                </b>
                <a href="https://agentconnect.crisp.help/fr/article/quest-ce-que-la-double-authentification-1m5mpmj/" class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-icon-question-fill fr-btn--icon-left">Consulter notre page d'aide sur la double authentification</a>
            </div>
        </div>
        <h3>Insérez le code généré par votre application</h3>
        <form action="/authenticator-app-configuration" method="post" class="fr-mb-6w">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <div class="fr-input-group<% if (locals.hasCodeError) { %>  fr-input-group--error<% } %>">
                <label class="fr-label" for="totpToken">
                    Entrez le code à usage unique
                </label>

                <input
                        class="fr-input"
                        type="text"
                        name="totpToken"
                        required
                        pattern="^(\s*\d){6}$"
                        title="code composé de 6 chiffres"
                        autocomplete="off"
                        <% if (locals.hasCodeError) { %>
                        autofocus
                        aria-describedby="email-error"
                        <% } %>
                >
                <% if (locals.hasCodeError) { %>
                    <p class="fr-error-text" id="email-error">
                        Code invalide. 
                        <a href="https://agentconnect.crisp.help/fr/article/quest-ce-que-la-double-authentification-1m5mpmj/#2-comment-faire-si-le-code-a-usage-unique-ne-fonctionne-pas"
                           target="_blank"
                           rel="noopener noreferrer"
                           aria-label="Page d'aide"
                        >
                            Consultez notre page d’aide.
                        </a>
                    </p>
                <% } %>
            </div>


            <div class="card-button-container">
                <a
                        class="fr-btn fr-btn--tertiary"
                        href="/connection-and-account"
                >Annuler</a>
                <button class="fr-btn" type="submit">Valider le code</button>
            </div>
        </form>
    </div>
</div>
