<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'connection-and-account'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <% if (isAuthenticatorAlreadyConfigured) { %>
            <h2>Changer d’application d’authentification</h2>
            <p>
                Vous ne pourrez pas vous connecter à votre compte MonComptePro avec votre ancienne
                application d’authentification.
            </p>
        <% } else { %>
            <h2>Configurer une application d’authentification</h2>
        <% } %>
        <p>
            1. Dans l’application FreeOTP, appuyez sur <b>+</b>
        </p>
        <p>
            2. Sélectionnez <b><span class="fr-icon-qr-code-fill" aria-label="Scanner un code QR"></span></b>
        </p>
        <img src="<%= locals.qrCodeDataUrl; %>" alt="Code QR à utiliser dans l’appli FreeOTP">
        <div class="fr-accordion fr-mb-3w">
            <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="vous-ne-pouvez-pas-scanner">
                    Vous ne pouvez pas scanner ?
                </button>
            </h3>
            <div class="fr-collapse" id="vous-ne-pouvez-pas-scanner">
                <p>
                    2. Dans l’application FreeOTP, appuyez sur <b>+</b>, puis sur
                    <b><span class="fr-icon-pencil-fill" aria-label="Saisir une clé de configuration"></span></b>
                </p>
                <p>
                    3. Saisissez votre adresse email et cette clé (espaces non pris en compte) :<br />
                    <b id="humanReadableTotpKey"><%= locals.humanReadableTotpKey; %></b>
                </p>
                <p>
                    4. Assurez-vous que <b>TOTP</b> est sélectionné
                </p>
                <p>
                    5. Assurez-vous que <b>SHA1</b> est sélectionné
                </p>
                <p>
                    6. Appuyez sur <b>Ajouter</b> pour terminer
                </p>
            </div>
        </div>
        <form action="/authenticator-app-configuration" method="post" class="fr-mb-6w">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">

            <div class="fr-input-group">
                <label class="fr-label" for="totpToken">
                    Saisissez le code à six chiffres affiché dans l’application
                </label>

                <input
                        class="fr-input"
                        type="text"
                        name="totpToken"
                        required
                        pattern="^(\s*\d){6}$"
                        title="code composé de 6 chiffres"
                        autocomplete="off"
                >
            </div>


            <div class="card-button-container">
                <a
                        class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left"
                        href="/connection-and-account"
                >Annuler</a>
                <button class="fr-btn" type="submit">Valider le code</button>
            </div>
        </form>
    </div>
</div>
