<div class="card-container">
    <div class="loader-container">
        <div class="message"><%= actionLabel; %></div>
        <div class="loader"></div>
    </div>
    <form action="<%= actionPath; %>" method="post" hidden>
        <input type="hidden" name="xsrf" value="<%= xsrfToken; %>" autocomplete="off">
        <input type="hidden" name="<%= inputName; %>" value="<%= inputValue %>">
        <button type="submit" class="fr-btn"></button>
    </form>
</div>
<script src="/assets/autosubmit-form.js"></script>
<link rel="stylesheet" href="/assets/loader.css">
