<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'connection-and-account'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Compte et connexion</h2>
        <section class="fr-mb-6w">
            <h3>Identifiants</h3>
            <div class="fr-input-group fr-input-group--disabled">
                <label class="fr-label" for="text-input-disabled">Adresse email</label>
                <input class="fr-input" disabled type="text" id="text-input-disabled" name="text-input-disabled" value="<%=email%>">
            </div>
            <div class="fr-input-group fr-input-group--disabled fr-mb-1w">
                <label class="fr-label" for="text-input-disabled">Mot de passe</label>
                <input class="fr-input" disabled type="password" id="text-input-disabled" name="text-input-disabled" value="<%=encrypted_password%>">
            </div>
            <form action="/users/reset-password" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
                <button class="fr-btn btn--fullwidth fr-btn--secondary" type="submit">
                    Réinitialiser votre mot de passe
                </button>
            </form>
        </section>

        <section class="fr-mb-6w">
            <h3>Double authentification</h3>
            <% if (isAuthenticatorConfigured) { %>
                <div class="fr-alert fr-alert--info fr-mb-3w">
                    <p>La double authentification (2FA) protège mieux vos informations personnelles et réduit les risques de piratage.</p>
                </div>
                <h4 class="fr-h5">Méthode de double authentification</h4>
                <div class="fr-card fr-card--horizontal fr-mb-3w">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title blue-france">FreeOTP Authenticator</h3>
                            <div class="fr-card__desc">
                                <p class="fr-mb-2w">Ajout : <%= totpKeyVerifiedAt; %>
                                </p>
                                <form action="/delete-authenticator-app-configuration" method="post">
                                    <input
                                            type="hidden"
                                            name="_csrf"
                                            value="<%= csrfToken; %>"
                                    >
                                    <button 
                                        class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-bin-line"
                                        data-confirm="Cette action est irreversible."
                                        type="submit"
                                    >
                                        Supprimer
                                    </button>
                                </form>
                            </div>
                            <div class="fr-card__start">
                                <p class="fr-card__detail">Code à usage unique</p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-card__header grey-background fr-hidden fr-unhidden-md">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="/dist/application.svg" alt="" />
                        </div>
                    </div>
                </div>
                <fieldset class="fr-fieldset fr-mb-3w" id="radio-hint" aria-labelledby="radio-hint-legend radio-hint-messages">
                    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-hint-legend">
                        Où voulez-vous activer la double authentification ?
                    </legend>
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="radio-hint-1" name="radio-hint">
                            <label class="fr-label" for="radio-hint-1">
                                Sur tous les sites
                            </label>
                        </div>
                    </div>
                    <div class="fr-fieldset__element">
                        <div class="fr-radio-group">
                            <input type="radio" id="radio-hint-2" name="radio-hint">
                            <label class="fr-label" for="radio-hint-2">
                                Uniquement sur les sites qui l’exigent
                            </label>
                        </div>
                    </div>
                    <div class="fr-messages-group" id="radio-hint-messages" aria-live="assertive">
                    <button class="fr-btn fr-btn--secondary">
                        Valider
                    </button>
                    </div>
                </fieldset>
                <p>Vous pouvez configurer plusieurs méthodes de double authentification si vous le souhaitez.</p>
                <a
                    class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-add-line"
                    href="/double-authentication"
                >
                    Ajouter une méthode de validation supplémentaire
                </a>
            <% } else { %>
                <p>
                    Vous n'avez pas encore configuré la double authentification (2FA).
                </p>
                <a
                        class="fr-btn fr-btn--secondary"
                        href="/double-authentication"
                >
                    Configurer la 2FA
                </a>
            <% } %>
        </section>
        
        <section class="fr-mb-6w">
            <h3>Suppression de mon compte</h3>
            <p>
                Pour des raisons légales, vos données sont sauvegardées pendant 3 ans après la suppression de votre compte.
            </p>
            <form class="fr-mt-4w" action="/users/delete" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
                <button
                        class="fr-btn btn--danger js-confirm"
                        data-confirm="Si vous avez changé d’organisation, vous pouvez les modifier sur votre espace personnel.&#10;&#10;Si vous n’utilisez plus ProConnect avec cette adresse email, vous pouvez supprimer ce compte.&#10;&#10;Voulez vous continuer ?"
                        type="submit"
                >
                    Supprimer mon compte
                </button>
            </form>
        </section>
        <script type="module" src="<%= js('confirm.js') %>"></script>
    </div>
</div>
