<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'connection-and-account'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/breadcrumb.ejs'); %>
        <h2>Double authentification</h2>
        <p>Choisissez une de ces deux méthodes de validation supplémentaire</p>
        <div class="fr-alert fr-alert--error fr-mb-1w" id="webauthn-alert-error" hidden></div>
        <% if (!isAuthenticatorConfigured){ %>
            <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-tier fr-mb-2w">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a href="/configuring-single-use-code">Code à usage unique</a>
                        </h3>
                        <p class="fr-card__desc">Vous utiliserez une application ou un logiciel qui génère un code à usage unique</p>
                    </div>
                </div>
                <div class="fr-card__header">
                    <div class="fr-card__img">
                        <img class="fr-responsive-img" src="/dist/single-use-code.svg" alt="" />
                    </div>
                </div>
            </div>
        <% }; %>
        <% if (isAuthenticatorConfigured){ %>
            <div class="fr-alert fr-alert--info fr-mb-2w">
                <h3 class="fr-alert__title">Vous avez déjà configuré une application TOTP</h3>
                <p>Pour en changer supprimez la configuration existante</p>
            </div>
        <% }; %>
        <div class="fr-card fr-card--horizontal fr-card--horizontal-tier">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">
                        <button id="webauthn-btn-begin-registration">
                            Créer une clé d’accès
                        </button>
                    </h3>
                    <p class="fr-card__desc">Clé physique (ex : Yubikey) ou gérée par votre navigateur ou votre appareil mobile (empreinte, faceID).</p>
                </div>
            </div>
            <div class="fr-card__header">
                <div class="fr-card__img">
                    <img class="fr-responsive-img" src="/dist/padlock.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="fr-callout fr-icon-alert-line" id="webauthn-not-supported" hidden>
            <h4 class="fr-callout__title">
                Impossible de créer une clé d’accès sur cet appareil
            </h4>
            <p class="fr-callout__text">
                Assurez-vous que le système d’exploitation de votre appareil est à jour, que le verrouillage de
                l’écran
                et le Bluetooth sont activés, et que vous utilisez un navigateur compatible.
            </p>
        </div>
        <%- include('partials/go-back.ejs') %>
        <form id="webauthn-registration-response-form" action="/passkeys/verify-registration" method="post" hidden>
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <input type="hidden" name="webauthn_registration_response_string">
    
            <button type="submit" class="fr-btn"></button>
        </form>
    </div>
    <script type="module" src="<%= js('webauthn-registration.js') %>"></script>
</div>
