<div class="dashboard-container">
    <div class="dashboard-head">
        <h1>MonComptePro</h1>
    </div>
    <%- include('partials/sidemenu.ejs', {activeLink: 'home'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Vos accès</h2>
        <p>MonComptePro vous permet d’accéder à :</p>
        <div class="fr-grid-row fr-grid-row--gutters">
            <% oidc_clients.forEach(({ name, url, description }) => { %>
                <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-card fr-enlarge-link fr-card--lg">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    <a href="<%= url; %>"><%= name; %></a>
                                </h3>
                                <p class="fr-card__desc"><%= description; %></p>
                                <ul class="fr-badges-group">
                                    <li>
                                        <p class="fr-badge fr-badge--purple-glycine">état</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>
