<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'home'}) %>
    <main id="main" tabindex="-1" class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Vos accès</h2>
        <% if (oidc_clients.length > 0) { %>
            <p>MonComptePro vous permet d’accéder à :</p>
            <div class="fr-grid-row fr-grid-row--gutters">
                <% oidc_clients.forEach(({ client_name, client_uri, client_description }) => { %>
                    <div class="fr-col-12 fr-col-lg-6">
                        <div class="fr-card fr-enlarge-link fr-card--lg">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title">
                                        <a href="<%= client_uri; %>">
                                            <%= client_name; %>
                                        </a>
                                    </h3>
                                    <p class="fr-card__desc">
                                        <%= client_description; %>
                                    </p>
                                    <ul class="fr-badges-group">
                                        <li>
                                            <p class="fr-badge fr-badge--purple-glycine">état</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="fr-alert fr-alert--success">
                <h3 class="fr-alert__title">Votre compte est créé !</h3>
                <p>
                    Merci de retourner sur votre démarche ou demande pour y avoir accès.
                </p>
            </div>
        <% } %>
    </main>
</div>
