<div class="box-container">
    <h3>Rejoindre une organisation</h3>

    <form action="/users/join-organization" method="post">

        <% if (locals.notifications) { %>
            <% notifications.forEach(({type, message}) => { %>
                <div class="notification <%= disabled ? 'multiline' : ''%> <%= type %>"><%= message %></div>
            <% }) %>
        <% } %>

        <% if (!locals.disabled) { %>
        <p>
            Merci de renseigner le numéro SIRET de l’organisation que vous souhaitez représenter.
        </p>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

        <div class="form__group with-input-hint">
            <input
                    id="siret-selector"
                    class="form-control"
                    required
                    type="text"
                    name="siret"
                    aria-label="Votre numéro SIRET"
                    placeholder="Votre numéro SIRET"
                    autofocus="on"
                    pattern="^(\s*\d){14}$"
                    title="identifiant composé de 14 chiffres attribué par l’INSEE à votre organisation"
                    <% if (locals.siretHint) { %>value="<%= locals.siretHint %>"
                    <% } %>
            >
            <small class="card__meta">
                <i>
                    <a
                            class="external-link"
                            target="_blank"
                            rel="noopener noreferrer"
                            href="https://annuaire-entreprises.data.gouv.fr/"
                    >
                        Trouver mon numéro SIRET ?
                    </a>
                </i>
            </small>
        </div>


        <div class="form__group">
            <div id="organization-info" class="notification"></div>
        </div>

        <input type="hidden" name="is_external" value="<%= isExternalHint %>" autocomplete="off">

        <div class="form__group">
            <input type="submit" value="Rejoindre cette organisation" class="button large wide">
        </div>
        <% } %>
    </form>
</div>
<script src="/assets/fetch-organization-info.js"></script>

<div class="container text-center">
    <p>
        <a class="external-link" href="https://datapass.api.gouv.fr">
            Retour à l’accueil
        </a>
    </p>
</div>
