<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    <% if (userOrganizations.length + pendingUserOrganizations.length > 1) { %>
                    Les organisations que je représente
                    <% } else { %>
                    L’organisation que je représente
                    <% } %>
                </h4>
                <div class="fr-card__desc">
                    <%- include('partials/notifications.ejs', {notifications: notifications}) %>
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <% if (userOrganizations.length + pendingUserOrganizations.length > 0) { %>
                        <% userOrganizations.forEach(({ id, siret, cached_libelle, cached_adresse, cached_libelle_activite_principale }) => { %>
                        <div class="fr-col-12">
                            <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
                                <div class="fr-tile__body">
                                    <h4 class="fr-tile__title">
                                        <a class="fr-tile__link" href="/users/organization/<%= id %>"><%= cached_libelle; %></a>
                                    </h4>
                                    <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                    <p class="fr-tile__desc"><%= cached_libelle_activite_principale; %></p>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <% pendingUserOrganizations.forEach(({ id, siret, cached_libelle, cached_adresse, cached_libelle_activite_principale }) => { %>
                        <div class="fr-col-12">
                            <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
                                <div class="fr-tile__body">
                                    <h4 class="fr-tile__title">
                                        <a class="fr-tile__link"><%= cached_libelle; %></a>
                                    </h4>
                                    <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                    <p class="fr-tile__desc"><%= cached_libelle_activite_principale; %></p>
                                    <br/>
                                    <p class="fr-card__detail fr-icon-time-line">
                                        Votre demande pour représenter cette organisation en cours de traitement
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <div class="fr-col-12">
                            <ul class="fr-btns-group">
                                <li>
                                    <a class="fr-btn fr-btn--secondary" href="/users/join-organization">
                                        Je représente une autre organisation
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <% } else { %>
                        <div class="fr-col-12">
                            <div class="fr-alert fr-alert--info">
                                Vous n’êtes attaché à aucune organisation.
                            </div>
                        </div>
                        <div class="fr-col-12">
                            <ul class="fr-btns-group">
                                <li>
                                    <a class="fr-btn fr-btn--secondary" href="/users/join-organization">
                                        Renseigner l’organisation que je représente
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
