<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'manage-organizations'}) %>
    <main id="main" tabindex="-1" class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Vos organisations de rattachement</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <% if (userOrganizations.length + pendingUserOrganizations.length > 0) { %>
                <% userOrganizations.forEach(({
                                                  id,
                                                  siret,
                                                  cached_libelle,
                                                  cached_adresse,
                                                  cached_libelle_activite_principale,
                                              }) => { %>
                    <div class="fr-col-12 fr-col-lg-10">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <h3 class="fr-tile__title">
                                    <a
                                            class="fr-link fr-tile__link"
                                            href="https://annuaire-entreprises.data.gouv.fr/etablissement/<%= siret; %>?mtm_campaign=moncomptepro"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            aria-label="<%= cached_libelle; %> - détails sur l’Annuaire des Entreprises"
                                    ><%= cached_libelle; %></a>
                                </h3>
                                <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                <p class="fr-tile__desc">
                                    Activité principale (NAF/APE) : <%= cached_libelle_activite_principale; %>
                                </p>
                                <p>
                                    <strong>
                                        <small>
                                            Si vous ne travaillez plus pour cette organisation, vous pouvez quitter
                                            l’organisation.
                                        </small>
                                    </strong>
                                </p>
                                <div class="card-button-container fr-mt-2w">
                                    <form action="/users/quit-organization/<%= id %>" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
                                        <button
                                            class="fr-btn fr-btn--secondary fr-btn--sm js-confirm"
                                            type="submit"
                                            aria-label="Quitter l'organisation <%= cached_libelle; %>"
                                            data-confirm="Une fois que vous quittez cette organisation, il faudra repasser par une étape de validation pour y revenir. Veuillez en être certain."
                                        >
                                            Quitter l’organisation
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <% pendingUserOrganizations.forEach(({
                                                         id,
                                                         siret,
                                                         cached_libelle,
                                                         cached_adresse,
                                                         cached_libelle_activite_principale,
                                                         moderation_id
                                                     }) => { %>
                    <div class="fr-col-12 fr-col-lg-10">
                        <div class="fr-tile fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <h3 class="fr-tile__title">
                                    <a
                                            class="fr-link fr-tile__link"
                                            href="https://annuaire-entreprises.data.gouv.fr/etablissement/<%= siret; %>?mtm_campaign=moncomptepro"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            aria-label="<%= cached_libelle; %> - détails sur l’Annuaire des Entreprises"
                                    ><%= cached_libelle; %></a>
                                </h3>
                                <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                <p class="fr-tile__desc"><%= cached_libelle_activite_principale; %></p>
                                <p class="fr-card__detail fr-icon-time-line">
                                    Votre demande pour représenter cette organisation en cours de traitement
                                </p>
                                <div class="card-button-container fr-mt-2w">
                                    <form action="/users/cancel-moderation/<%= moderation_id %>" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
                                        <button class="fr-btn fr-btn--secondary fr-btn--sm" type="submit">
                                            Annuler ma demande de rattachement
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="fr-col-12">
                    <a
                            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                            href="/users/join-organization"
                    >
                        Rejoindre une autre organisation
                    </a>
                </div>
            <% } else { %>
                <div class="fr-col-12 fr-col-lg-8 fr-col-xl-7">
                    <div class="fr-alert fr-alert--info">
                        Vous n’êtes attaché à aucune organisation.
                    </div>
                </div>
                <div class="fr-col-12">
                    <a
                            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                            href="/users/join-organization"
                    >
                        Rejoindre une organisation
                    </a>
                </div>
            <% } %>
        </div>
    </main>
</div>
<script type="module" src="<%= js('confirm.js') %>"></script>
