<div class="dashboard-container">
    <div class="dashboard-head">
        <h1>MonComptePro</h1>
    </div>
    <%- include('partials/sidemenu.ejs', {activeLink: 'manage-organizations'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Vos organisations de rattachement</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
            <% if (userOrganizations.length + pendingUserOrganizations.length > 0) { %>
                <% userOrganizations.forEach(({
                                                  id,
                                                  siret,
                                                  cached_libelle,
                                                  cached_adresse,
                                                  cached_libelle_activite_principale
                                              }) => { %>
                    <div class="fr-col-12 fr-col-lg-10">
                        <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <h4 class="fr-tile__title">
                                    <a
                                            class="fr-tile__link"
                                            href="/users/organization/<%= id; %>"
                                    ><%= cached_libelle; %></a>
                                </h4>
                                <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                <p class="fr-tile__desc"><%= cached_libelle_activite_principale; %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <% pendingUserOrganizations.forEach(({
                                                         id,
                                                         siret,
                                                         cached_libelle,
                                                         cached_adresse,
                                                         cached_libelle_activite_principale
                                                     }) => { %>
                    <div class="fr-col-12 fr-col-lg-10">
                        <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <h4 class="fr-tile__title">
                                    <a class="fr-tile__link"><%= cached_libelle; %></a>
                                </h4>
                                <p class="fr-tile__desc"><%= cached_adresse; %></p>
                                <p class="fr-tile__desc"><%= cached_libelle_activite_principale; %></p>
                                <br />
                                <p class="fr-card__detail fr-icon-time-line">
                                    Votre demande pour représenter cette organisation en cours de traitement
                                </p>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="fr-col-12">
                    <a
                            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                            href="/users/join-organization"
                    >
                        Rejoindre une autre organisation
                    </a>
                </div>
            <% } else { %>
                <div class="fr-col-12 fr-col-lg-8 fr-col-xl-7">
                    <div class="fr-alert fr-alert--info">
                        Vous n’êtes attaché à aucune organisation.
                    </div>
                </div>
                <div class="fr-col-12">
                    <a
                            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                            href="/users/join-organization"
                    >
                        Rejoindre une organisation
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div>
