<div class="dashboard-container">
    <div class="dashboard-head">
        <h1>MonComptePro</h1>
    </div>
    <%- include('partials/sidemenu.ejs', {activeLink: 'passkeys'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-9 fr-col-xl-8 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <div class="fr-alert fr-alert--error fr-mb-1w" id="webauthn-alert-error" hidden></div>
        <h2>Vos clés d’accès</h2>
        <% if (passkeys.length <= 0) { %>
            <div class="fr-callout fr-icon-information-line" id="webauthn-register">
                <h3 class="fr-callout__title">Créer une clé d'accès sur cet appareil</h3>
                <p class="fr-callout__text">
                    Connectez-vous plus vite la prochaine fois en créant une clé d'accès sur cet appareil
                </p>
                <button class="fr-btn" id="webauthn-btn-begin-registration">
                    Créer une clé d’accès
                </button>
            </div>
        <% } %>
        <div class="fr-callout fr-icon-alert-line" id="webauthn-not-supported" hidden>
            <h3 class="fr-callout__title">
                Impossible de créer une clé d’accès sur cet appareil
            </h3>
            <p class="fr-callout__text">
                Assurez-vous que le système d’exploitation de votre appareil est à jour, que le verrouillage de l’écran
                et le Bluetooth sont activés, et que vous utilisez un navigateur compatible.
            </p>
        </div>
        <p>
            Les clés d’accès vous permettent de vous connecter de façon sécurisée à votre compte MonComptePro
            en utilisant votre empreinte digitale, votre visage, le verrouillage de l’écran ou une clé de
            sécurité physique. Ne configurez des clés d’accès que sur les appareils dont vous êtes
            propriétaire.
            <a
                    class="fr-link" target="_blank" rel="noopener noreferrer"
                    href="https://fr.wikipedia.org/wiki/Cl%C3%A9_d%27acc%C3%A8s"
            >En savoir plus</a>
        </p>
        <% if (passkeys.length > 0) { %>
            <div class="fr-grid-row fr-grid-row--gutters">
                <% passkeys.forEach(({ credential_id, counter }) => { %>
                    <div class="fr-col-12 fr-col-lg-10">
                        <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
                            <div class="fr-tile__body">
                                <h4 class="fr-tile__title">
                                    <%= credential_id %>
                                </h4>
                                <p class="fr-tile__desc">Nombre d’utilisations : <%= counter %></p>
                                <br />
                                <div class="card-button-container">
                                    <form action="/delete-passkeys/<%= credential_id; %>" method="post">
                                        <input
                                                type="hidden"
                                                name="_csrf"
                                                value="<%= csrfToken; %>"
                                                autocomplete="off"
                                        >
                                        <button class="fr-btn fr-btn--secondary fr-btn--sm" type="submit">
                                            Supprimer cette clé d’accès
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="fr-col-12">
                    <button
                            class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                            id="webauthn-btn-begin-registration"
                    >
                        Créer une clé d’accès sur cet appareil
                    </button>
                </div>
            </div>
        <% } %>
        <form id="webauthn-registration-response-form" action="/passkeys/verify-registration" method="post" hidden>
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
            <input type="hidden" name="webauthn_registration_response_string" autocomplete="off">
            <button type="submit" class="fr-btn"></button>
        </form>
    </div>
</div>
<script src="/assets/simplewebauthn.umd.min.js"></script>
<script src="/assets/webauthn-registration-20240105.js"></script>
