<div class="box-container">
    <h3 class="section__title">Informations personnelles</h3>

    <form action="/users/personal-informations" method="post">

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
        <div class="notification <%= type %>">
            <%= message %>
        </div>
        <% }) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

    <div class="form-row">
        <div class="form-col">
            <input class="form-control" required type="text" name="given_name" aria-label="Votre prénom"
                   placeholder="Votre prénom" autofocus="on" <% if (given_name) { %> value="<%= given_name %>" <% } %>>
        </div>
        <div class="form-col">
            <input class="form-control" required type="text" name="family_name" aria-label="Votre nom"
                   placeholder="Votre nom" <% if (family_name) { %> value="<%= family_name %>" <% } %>>
        </div>
    </div>

    <div class="form__group">
        <input class="form-control" required type="tel" name="phone_number" aria-label="Votre numéro de téléphone"
               placeholder="Votre numéro de téléphone" pattern="\+?(?:[0-9][ -]?){6,14}[0-9]"
               title="un numéro de téléphone doit être écrit en chiffres, avec ou sans extension internationale (ex: France +33)"
               <% if (phone_number) { %> value="<%= phone_number %>" <% } %>
        >
    </div>

    <div class="form__group with-input-hint">
        <input class="form-control" required type="text" name="job" aria-label="Votre intitulé de poste"
               placeholder="Votre intitulé de poste" <% if (job) { %> value="<%= job %>" <% } %>>
    </div>

    <div class="form__group">
        <input type="submit" value="Enregistrer mes informations" class="button large wide">
    </div>
    </form>
</div>
