<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'personal-information'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>
            Vos informations personnelles
        </h2>
        <form action="/personal-information" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">

            <p aria-hidden="true" class="fr-hint-text">Les champs notés * sont obligatoires.</p>

            <div class="fr-input-group">
                <label class="fr-label" for="given_name">
                    Prénom<span aria-hidden="true"> *</span>
                </label>
                <input
                        class="fr-input" required type="text" name="given_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        id="given_name"
                <% if (given_name) { %> value="<%= given_name; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="family_name">
                    Nom<span aria-hidden="true"> *</span>
                </label>
                <input
                        class="fr-input" required type="text" name="family_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        id="family_name"
                <% if (family_name) { %> value="<%= family_name; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="phone_number">
                    Numéro de téléphone professionnel
                </label>
                <input
                        class="fr-input" type="tel" name="phone_number"
                        id="phone_number"
                        pattern="\+?(?:[0-9][ \-]?){6,14}[0-9]"
                        title="un numéro de téléphone doit être écrit en chiffres, avec ou sans extension internationale (ex: France +33)"
                <% if (phone_number) { %> value="<%= phone_number; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="job">
                    Profession ou rôle au sein de votre organisation<span aria-hidden="true"> *</span>
                </label>
                <input
                        class="fr-input" required type="text" name="job" id="job"
                        pattern="^(?![\d\s]+$).*"
                        title="Merci d’inscrire une profession existante pour que votre compte soit validé"
                <% if (job) { %> value="<%= job; %>"
                        <% } %>
                >
            </div>

            <button
                    class="fr-btn fr-btn--secondary"
                    type="submit"
                    aria-label="Mettre à jour les informations personnelles"
            >
                Mettre à jour
            </button>
        </form>
    </div>
</div>
