<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'personal-information'}) %>
    <main id="main" tabindex="-1" class="dashboard-content fr-col-12 fr-col-lg-9 fr-col-xl-8 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>
            Vos informations personnelles
        </h2>
        <div class="fr-notice moncomptepro-notice--email fr-mb-3w">
            <div class="fr-container">
                <div class="fr-notice__body">
                    <p>
                        L’email rattaché à votre compte est <strong><%= email; %></strong>
                    </p>
                </div>
            </div>
        </div>
        <form action="/personal-information" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">

            <div class="fr-input-group">
                <label class="fr-label" for="given_name">
                    Prénom *
                </label>
                <input
                        class="fr-input" required type="text" name="given_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        aria-label="Prénom"
                        id="given_name"
                <% if (given_name) { %> value="<%= given_name; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="family_name">
                    Nom *
                </label>
                <input
                        class="fr-input" required type="text" name="family_name"
                        pattern="[^$\&+:;=?@#\|<>.^*\(\)%!\d_\[\]\{\}\\\/\x22`~]*"
                        title="un nom ne doit pas contenir de chiffres ou de caractères spéciaux"
                        aria-label="Nom"
                        id="family_name"
                <% if (family_name) { %> value="<%= family_name; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="phone_number">
                    Numéro de téléphone professionnel
                </label>
                <input
                        class="fr-input" type="tel" name="phone_number"
                        id="phone_number"
                        pattern="\+?(?:[0-9][ \-]?){6,14}[0-9]"
                        title="un numéro de téléphone doit être écrit en chiffres, avec ou sans extension internationale (ex: France +33)"
                <% if (phone_number) { %> value="<%= phone_number; %>"
                        <% } %>
                >
            </div>

            <div class="fr-input-group">
                <label class="fr-label" for="job">
                    Fonction au sein de l’organisation que vous représentez *
                </label>
                <input
                        class="fr-input" required type="text" name="job" id="job"
                        aria-label="Fonction au sein de l’organisation que vous représentez"
                <% if (job) { %> value="<%= job; %>"
                        <% } %>
                >
            </div>

            <button class="fr-btn fr-btn--secondary" type="submit" aria-label="Mettre à jour les informations personnelles">
                Mettre à jour
            </button>
        </form>
    </main>
</div>
