<div class="box-container">
    <h3 class="section__title">Se connecter</h3>

    <form action="/users/sign-in" method="post">

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
        <div class="notification <%= type %>">
            <%= message %>
        </div>
        <% }) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

    <% if (locals.referer) { %>
        <input type="hidden" name="referer" value="<%= referer %>" autocomplete="off">
    <% } %>

    <div class="form__group">
        <input class="form-control" required type="email" name="login" aria-label="Email" placeholder="Email" <% if (!locals.loginHint) { %>autofocus="on"<% } else { %> value="<%= locals.loginHint %>" <% } %>>
    </div>

    <div class="form__group with-input-hint">
        <input class="form-control" required type="password" name="password" aria-label="Mot de passe" placeholder="Mot de passe" <% if (locals.loginHint) { %>autofocus="on"<% } %>>
        <small class="card__meta">
            <i>
                <a class="external-link" href="/users/reset-password">Mot de passe oublié ?</a>
            </i>
        </small>
    </div>

    <div class="form__group">
        <input type="submit" value="Connexion" class="button large wide">
    </div>
    </form>
</div>

<div class="container text-center">
    <p>Je n'ai pas de compte ? <a class="external-link" href="/users/sign-up">je crée mon compte</a></p>
</div>
