<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <div class="fr-alert fr-alert--error fr-mb-2w" id="webauthn-alert-error" hidden></div>
    <div class="fr-alert fr-alert--success fr-mb-2w" id="webauthn-alert-success" hidden></div>
    <h1 class="fr-h3">
        Valider en deux étapes
    </h1>
    <div class="fr-notice fr-notice--info notice--change-email fr-mb-2w">
        <div class="fr-container">
            <p class="fr-notice__body">
                <span class="fr-sr-only">Votre email :</span>
                <strong><%= email; %></strong>
                <a
                        class="fr-btn fr-btn--close"
                        title="Changer d’adresse email"
                        href="/users/start-sign-in"
                        id="change-email-address"
                >
                    Changer d’adresse email
                </a>
            </p>
        </div>
    </div>
    <p>
        Afin de protéger votre compte,
        MonComptePro veut s’assurer que c’est bien vous qui essayez de vous connecter
    </p>
    <% if (showsTotpSection) { %>
        <form action="/users/2fa-sign-in-with-authenticator-app" method="post" class="fr-mb-5w">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off" />

            <div class="fr-input-group">
                <label class="fr-label" for="totpToken">
                    Obtenir un code de validation depuis l’application <b>FreeOTP Authenticator</b>
                </label>
                <input
                        class="fr-input"
                        type="text"
                        name="totpToken"
                        required
                        pattern="^(\s*\d){6}$"
                        title="code composé de 6 chiffres"
                        autocomplete="off"
                        autofocus
                >
            </div>
            <% if (showsPasskeySection) { %>
                <button class="fr-btn btn--fullwidth" type="submit">
                    Valider
                </button>
            <% } else { %>
                <div class="card-button-container">
                    <button
                            type="button"
                            class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
                    >
                        retour
                    </button>
                    <button class="fr-btn" type="submit">
                        Valider
                    </button>
                </div>
            <% } %>
        </form>
    <% } %>

    <% if (showsTotpSection && showsPasskeySection) { %>
        <p class="fr-hr-or">ou</p>
    <% } %>

    <% if (showsPasskeySection) { %>
        <div class="fr-mb-5w">
            <p>
                Votre appareil vous demandera d'utiliser votre empreinte, votre visage ou
                le verrouillage de l'écran pour valider votre identité.
            </p>
            <button
                    class="fr-btn btn--fullwidth fr-mb-2w fr-btn--secondary fr-btn--icon-left fr-icon-lock-unlock-line"
                    id="webauthn-btn-begin-authentication"
            >
                Se connecter avec une clé d’accès
            </button>
        </div>
        <form id="webauthn-authentication-response-form" action="/users/2fa-sign-in-with-passkey" method="post" hidden>
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
            <input type="hidden" name="webauthn_authentication_response_string" autocomplete="off">
            <button type="submit" class="fr-btn"></button>
        </form>

        <button
                type="button"
                class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
        >
            retour
        </button>
        <script type="module" src="<%= js('webauthn-authentication.js') %>"></script>
    <% } %>
</div>

<script type="module" src="<%= js('go-back.js') %>"></script>
