<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Sélectionner un parrain
                </h4>
                <div class="fr-card__desc">
                    <%- include('../partials/notifications.ejs', {notifications: notifications}) %>
                    <p>
                        Cette personne sera informée que vous rejoignez l’organisation <%= libelle %> sur MonComptePro.
                    </p>
                    <form id="form-join-organization" action="/users/choose-sponsor/<%= organization_id %>" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

                        <div class="fr-input-group">
                            <label class="fr-label" for="sponsor_id">
                                Choisissez votre parrain
                            </label>
                            <select
                                    id="sponsor-selector"
                                    class="fr-select"
                                    name="sponsor_id"
                                    required
                            >
                                <% sponsorOptions.map(function({ id, label }) { %>
                                    <option value="<%= id %>"><%= label %></option>
                                <% }) %>
                            </select>
                        </div>
                        <%- include('../partials/card-button-container.ejs', {label: 'Valider', showGoBackButton: true}) %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <div class="fr-card__desc">
                    <div class="fr-container">
                        <div class="fr-grid-row fr-grid-row--center">
                            <a class="fr-link fr-fi-question-line fr-link--icon-left" href="/users/no-sponsor-found/<%= organization_id %>">
                                Je ne connais aucune des personnes proposées
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
