<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h3">
        Réinitialiser mon mot de passe
    </h1>
    <div>
        <p>
            Vous avez oublié votre mot de passe ou souhaitez en changer, merci de préciser votre adresse
            email afin que nous puissions vous envoyer un lien de réinitialisation de mot de passe.
        </p>
        <form action="/users/reset-password" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken ;%>">

            <div class="fr-input-group">
                <label class="fr-label" for="login">Email
                    <span class="fr-hint-text">Celui que vous utilisez dans le cadre de votre travail</span>
                </label>
                <input
                        class="fr-input" required type="email" id="login" name="login"
                <% if (locals.loginHint) { %> value="<%= locals.loginHint; %>"
                        <% } %>
                >
            </div>

            <%- include('../partials/card-button.ejs', {label: 'Réinitialiser'}) %>
            <%- include('../partials/go-back.ejs') %>
        </form>
    </div>
</div>
