<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h3">
        Choisir votre mot de passe
    </h1>
    <div>
        <div class="fr-notice fr-notice--info notice--change-email fr-mb-2w">
            <div class="fr-container">
                <p class="fr-notice__body">
                    <span class="fr-sr-only">Votre email :</span>
                    <strong><%= email; %></strong>
                    <% if (changeEmailButtonMustReturnToPCF) { %>
                        <button
                                class="fr-btn fr-btn--close go-back-link"
                                title="Changer d’adresse email"
                                id="change-email-address"
                        >
                            Changer d’adresse email
                        </button>
                    <% } else { %>
                        <a
                                class="fr-btn fr-btn--close"
                                title="Changer d’adresse email"
                                href="/users/start-sign-in"
                                id="change-email-address"
                        >
                            Changer d’adresse email
                        </a>
                    <% } %>
                </p>
            </div>
        </div>

        <form action="/users/sign-up" method="post" class="fr-mb-2w">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">

            <div class="fr-input-group fr-password js-password-container">
                <label class="fr-label" for="password-input">
                    Mot de passe
                </label>
                <div class="fr-input-wrap">
                    <input
                            class="fr-password__input fr-input js-password-container__input"
                            aria-describedby="password-input-messages"
                            aria-required="true"
                            name="password"
                            autocomplete="new-password"
                            id="password-input"
                            type="password"
                            minlength="10"
                            data-email="<%= email; %>"
                    >
                </div>
                <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                    <input
                            class="js-password-container__toggle"
                            aria-label="Afficher le mot de passe"
                            id="password-show"
                            type="checkbox"
                    >
                    <label class="fr-password__checkbox fr-label" for="password-show">
                        Afficher
                    </label>
                </div>
                <%- include('../partials/password-input-messages.ejs') %>
            </div>

            <%- include('../partials/card-button-container.ejs', {label: 'Valider', ariaLabel: 'Valider le mot de passe'}) %>
            <%- include('../partials/go-back.ejs') %>
        </form>

        <p class="fr-hr-or">ou</p>

        <div>
            <p class="fr-text--sm">
                <b>Connectez-vous sans mot de passe</b> en recevant <b>un lien par email.</b>
            </p>
            <div class="card-button-container">
                <div id="magic-link-icon-inline">
                    <img src="/dist/magic-link.svg" alt="">
                </div>
                <form action="/users/send-magic-link" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken; %>">

                    <%- include('../partials/card-button-container.ejs', {label: 'Envoyer le lien'}) %>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="module" src="<%= js('show-password.js') %>"></script>
<script type="module" src="<%= js('password-feedback.js') %>"></script>
