<div class="card-container">
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <%- include('../partials/maintenance.ejs') %>
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    S’inscrire ou se connecter
                </h4>
                <div class="fr-card__desc">
                    <% if(locals.displayTestEnvWarning) { %>
                    <div class="fr-alert fr-alert--warning">
                        <h3 class="fr-alert__title">Vous êtes sur une instance de test</h3>
                        <p>
                            Afin de limiter le risque de divulguer vos informations personnelles,
                            merci de ne pas utiliser votre adresse email.
                            Pour vos tests, utilisez des adresses <a target="_blank" rel="noopener noreferrer" href="https://yopmail.com/">yopmail</a>.
                        </p>
                    </div>
                    <br>
                    <% } %>
                    <form action="/users/start-sign-in" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">

                        <div class="fr-input-group<% if (locals.hasEmailError) { %>  fr-input-group--error<% } %>">
                            <label class="fr-label" for="did-you-mean-input">Email
                                <span class="fr-hint-text">Celui que vous utilisez dans le cadre de votre travail</span>
                            </label>
                            <input
                                    id="did-you-mean-input"
                                    class="fr-input"
                                    required type="email" name="login"
                            <% if (!locals.loginHint) { %>
                                    autofocus="on"
                            <% } else { %>
                                    value="<%= locals.loginHint; %>"
                                    <% } %>
                            >
                            <% if (locals.hasEmailError) { %>
                                <p class="fr-error-text">
                                    Adresse email invalide.
                                </p>
                            <% } %>
                            <% if (locals.didYouMean) { %>
                                <p id="did-you-mean-element" class="fr-info-text">
                                    <span>
                                    Vouliez-vous dire
                                    <a id="did-you-mean-link" href="#"><%= locals.didYouMean %></a> ?
                                    </span>
                                </p>
                                <script type="text/javascript" src="/assets/did-you-mean.js"></script>
                            <% } %>
                        </div>

                        <%- include('../partials/card-button-container.ejs', {label: 'Valider', showGoBackButton: true}) %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
