<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h3">
        Confirmer votre adresse
    </h1>
    <% if (locals.needs_inclusionconnect_onboarding_help) { %>
        <div class="fr-callout fr-callout--blue-ecume fr-icon-lightbulb-line">
            <p class="fr-callout__text">
                Pour vérifier que vous avez bien accès à votre email, nous utilisons un code de confirmation.
            </p>
        </div>
    <% } %>
    <div>
        <form id="verify-email" action="/users/verify-email" method="post" class="fr-mb-4w">
            <% if (codeSent || newCodeSent) { %>
                <div class="fr-alert fr-alert--success fr-mb-4w">
                    <h3 class="fr-alert__title">Un <% if (newCodeSent) { %>nouveau <% } %>code de vérification a été envoyé à <%= email; %>.
                    </h3>
                </div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
            <div class="fr-input-group fr-mb-2w">
                <label class="fr-label" for="verify_email_token">
                    Vérifiez vos emails et insérez le code à 10 chiffres.
                    <span class="fr-hint-text">
                        Code de confirmation
                    </span>
                </label>
                <input
                        class="fr-input" required
                        pattern="^\s*(\d\s*){10}$" type="text" id="verify_email_token"
                        title="10 chiffres"
                        name="verify_email_token"
                >
            </div>
            <%- include('../partials/card-button-container.ejs', {label: 'Valider', showGoBackButton: false, buttonFullWidth: true}) %>
        </form>
        <form
            class="inline-form" autocomplete="off"
            action="/users/send-email-verification"
            method="post"
        >
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">
            <button data-countdown-end-date="<%= countdownEndDate %>"
            class="fr-btn fr-btn--tertiary fr-mb-2w disabled-with-countdown btn--fullwidth" 
            >
                Recevoir un nouvel email
            </button>
        </form>
    </div>
    <a
        class="fr-link fr-icon-question-line fr-link--icon-right"
        href="https://agentconnect.crisp.help/fr/article/pourquoi-je-ne-recois-pas-de-code-ou-lien-x1gf1t/"
    >
        Vous ne recevez rien ? Consulter la page d'aide
    </a>
    <div class="card-button-container fr-mt-2w">
        <span>
          <button
            class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
          >
            retour
          </button>
        </span>
        <span></span>
    </div>
</div>
<script type="module" src="<%= js('disabled-with-countdown.js') %>"></script>
<script type="module" src="<%= js('go-back.js') %>"></script>
