Bonjour <%= given_name %> <%= family_name %>,
<br /><br />
Votre organisation <%= libelle %> utilise déjà MonComptePro.
<br /><br />
Nous tenions à vous informer que les personnes suivantes ont également la possibilité d’effectuer des démarches au nom de votre organisation sur les sites du service public qui utilisent
<a href="https://moncomptepro.beta.gouv.fr/" style="text-decoration: underline; color: rgb(0, 0, 145);">MonComptePro</a> :
<br /><br />
<ul>
    <% otherUsers.map(function({ given_name, family_name, is_external }) { %>
        <li><%= given_name %> <%= (family_name || '').toUpperCase() %><% if(is_external) { %> (externe)<% } %></li>
    <% }) %>
</ul>
<br /><br />
<strong>
    <a href="mailto:contact@moncomptepro.beta.gouv.fr?subject=Erreur%20-%20Mon%20organisation" style="text-decoration: underline; color: rgb(0, 0, 145);">
        <u>
            Si vous pensez qu’il s’agit d’une erreur, faites-le nous savoir en répondant à cet email.
        </u>
    </a>
</strong>
<br /><br />
Cordialement,
<br /><br />
L’équipe MonComptePro
