Bonjour <%= given_name %> <%= family_name %>,
<br /><br />
Votre organisation <%= libelle %> utilise déjà MonComptePro.
<br /><br />
Nous tenions à vous informer que les personnes suivantes ont également la possibilité d’effectuer de nouvelles demandes d’habilitation pour <%= libelle %> sur
<a href="https://datapass.api.gouv.fr" style="text-decoration: underline; color: rgb(0, 0, 145);">DataPass</a> :
<br /><br />
<ul>
    <% usersInOrganizationAlready.map(function({ given_name, family_name, is_external }) { %>
        <li><%= given_name %> <%= (family_name || '').toUpperCase() %><% if(is_external) { %> (externe)<% } %></li>
    <% }) %>
</ul>
<br /><br />
Vous n’avez rien de plus à faire !
<br /><br />
<strong>
    <a href="mailto:contact@api.gouv.fr?subject=Erreur%20-%20Mon%20organisation%20api.gouv.fr" style="text-decoration: underline; color: rgb(0, 0, 145);">
        <u>
            Vous pensez qu’il s’agit d’une erreur ? Faites-le nous savoir en répondant à cet email.
        </u>
    </a>
</strong>
<br /><br />
Cordialement,
<br /><br />
L’équipe MonComptePro
